.bg{
    background: linear-gradient(90deg, #E7B04B 50.32%, #F3E949 100%)
}
.containerBrands{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
.containerBrands .wilson{
    width: 220px;
    height: 66px;

}
.containerBrands .asics{
    width:215px;
    height: 160px;
}
.containerBrands .prince{
    width:143px;
    height: 143px;
}

.containerBrands .bullpadel{
    width:333px;
    height: 66px;
    margin-top: 25px;
}

@media only screen and (max-width: 1024px) {
    .containerBrands{
        display: grid;
        width: 100%;
        grid-template-areas: 
        "wilson asics"
        "prince bullpadel"
        ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
    .containerBrands .wilson{
        width: 110px;
        height: 33px;
        grid-area: wilson;
    }
    .containerBrands .asics{
        width:107px;
        height: 80px;
        grid-area: asics;
    }
    .containerBrands .prince{
        width:70px;
        height: 70px;
        grid-area: prince;
    }
    
    .containerBrands .bullpadel{
        width:160px;
        height: 33px;
        margin-top: 12px;
        grid-area: bullpadel;
    }
}