@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Orbitron&family=Poppins:wght@200&family=Roboto:wght@100&display=swap');

.imageHeading {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.imageHeading img {
    width: 100%;
    height: 100vh;
}

.imageHeading .imageTextTitle {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    max-width: 789px;
}

.imageHeading .imageTextTitle::before {
    content: "Uniendo";
    font-family: 'Orbitron', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.64px;
    max-width: 789px;
    color: #E7B04B;
}

.imageHeading .imageText {
    position: absolute;
    top: 52%;
    left: 13%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.36px;
    max-width: 730px;
    text-align: left;
}

@media only screen and (max-width: 1024px) {
    .imageHeading .imageTextTitle {
        margin: auto;
        color: white;
        font-family: 'Orbitron', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        max-width: 394px;
        
    }
    .containerText{
        display: flex;
        flex-direction: column;
    }
    .imageHeading .imageTextTitle::before {
        content: "Uniendo";
        font-family: 'Orbitron', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.64px;
        max-width: 394px;
        color: #E7B04B;
    }
    .imageHeading .imageText {
        position: absolute;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight:bold;
        text-align: left;
        margin-right: 110px;
        
    }
}