.containerBanner{
    background-image: url("img/fondoTenis.png");
    padding-bottom:100px;

}

.listGroup2{
    padding-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 768px){
    .listGroup2{
        display: grid;
        grid-template-columns: min-content;
    }
}